* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 219, 219);

}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clearfix {
    clear: both;
}

.text-center {
    text-align: center;
}

.header {
    margin: 7vh auto 2vh auto;
}

.footer {
    margin: 2vh auto;
}

.header,
.footer {
    display: flex;
    width: 40vw;
    justify-content: center;
    background-color: #fff;
}

.main {
    background-color: #fff;
    display: flex;
    width: 40vw;
    height: 70vh;
    margin: 0 auto;
    justify-content: center;
}

.row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;

}

.row:first-child {
    padding-top: 5vh;
}

.row:last-child {
    padding-bottom: 5vh;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.cell {
    border: 1px solid black;
    height: 3vw;
    width: 3vw;
}

.col-2 .row:first-child,
.col-2 .row:last-child {
    visibility: hidden;
}